@font-face {
  font-family: CoreSansLight;
  src: url('../fonts/CoreSansG-Light.ttf');
}

@font-face {
  font-family: CoreSansRegular;
  src: url('../fonts/CoreSansG-Regular.ttf');
}

@font-face {
  font-family: CoreSansMediumLight;
  src: url('../fonts/CoreSansGRounded-Medium.ttf');
}

@font-face {
  font-family: CoreSansBold;
  src: url('../fonts/CoreSansG-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "CoreSansRegular";
  color: #070707;
}

a:hover {
  text-decoration: none!important;
}

.btn-danger, .badge-danger {
  border-color: #dd1919;
  background: #dd1919;
  padding-bottom: 3px!important;
}
.btn-danger:hover {
  border-color: #e22d2d;
  background: #e22d2d;
  padding-bottom: 3px!important;
}

.btn-primary {
  border-color: #252582;
  background: #252582;
  padding-bottom: 3px!important;
}
.btn-primary:hover {
  border-color: #2f2f92;
  background: #2f2f92;
  padding-bottom: 3px!important;
}

.btn-danger span {
  color: #fff
}
.text-primary{
  color: #252582!important;
}
/* ============================  HEADER =============================*/

nav.bg-dark {
  background: #272831;
}

nav.bg-dark a {
  color: white !important;
}

nav.bg-dark li {
  padding: 5px 0
}

nav.bg-dark li:hover, .dropdown.show {
  background: #252582 !important;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}

.reg-log {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 2px solid #6d6c6c;
  padding: 3px 15px !important;
}

.dropdown-menu {
  background: #222222;
  padding: 0;
  border: none;
  overflow: hidden;
  margin-top: -2px;
  border-top: 3px solid #252582
}

.dropdown-item {
  padding: 8px 12px;
}

.dropdown-item:hover {
  background: #252582;
  border: none;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.hidden-shopping-card {
  position: absolute;
  right: 10px;
  top: 0;
}

.hidden-shopping-card img {
  width: 30px;
}

.nav-link img {
  width: 22px;
  vertical-align: middle;
}

.nav-link {
  text-transform: capitalize;
}

.navbar-collapse {
  z-index: 100;
}

/* =============================== MAIN =============================*/

.logo img {
  width: 60% !important;
}

.header-snd h2 {
  font-size: 18px;
}

.get-discount {
  border-bottom: 1px dashed #dd1919;
  color: #dd1919
}

.shopping-card {
  position: relative;
}
.shopping-card span {
  position: absolute;
  display: inline-block;
  color: #dd1919;
  border: 2px solid #dd1919;
  font-size: 13px;
  font-weight: 700;
  top: 0px;
  padding: 0px 6px;
  right: 0;
  background: #FFF;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

.shopping-card-body{
  position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 2px 6px;
  padding: 10%;
  top: 35px;
  right: 0;
  border-radius: 3px;
  background: #fff;
  z-index: 100;
  width: 300px;
}

/* ============================= SIDEBAR =============================== */

.menu-titl-first {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0 4% 0;
}

.acc-card-title {
  padding: 10px 7px;
  border: none;
  font-family: CoreSansLight;
  display: flex;
  justify-content: space-between;
}

.acc-card-title a {
  color: rgba(228, 224, 224, 0.836);
}

.acc-card-title a::first-letter {
  text-transform: uppercase;
}

.acc-card-title span {
  border: 1px solid #303030;
  color: #252582;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  width: 22px;
  height: 22px;
  font-size: 12px;
  padding-top: 4px;
  text-align: center;
}

.acc-card-title.active a, .acc-card-title.active span {
  color: #dd1919
}




.list-group-item {
  border: none;
  padding: 0;
}

.sub-catalog {
  display: none;
  padding-left: 15px;
}
aside .list-group {
  padding: 0 ;
}
aside .list-group-item:hover{
  background: #272831f1;
}
aside .list-group-item:last-of-type{
  border: none;
}
.isOpen a{
  color: #dd1919;
}
aside .list-group-item {
  color:#fff;
  background: #272831;
  border-bottom:.5px solid rgba(255, 255, 255, 0.521);
  padding: 2px 2%;
}
/* ============================ */

.super-price {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  background: #dd1919;
  color: #fff !important;
  padding: 10px;
}

.super-price h4 {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}

.super-price p {
  color: #fff
}

.super-price span {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  font-family: CoreSansBold;
}

.super-title {
  color: #000;
}

.super-title:hover {
  text-decoration: underline!important;
  color: #000
}

.old-price {
  font-family: CoreSansLight;
  color: #5f5f5f;
  font-size: 14px;
  margin: 0px;
  text-decoration: line-through;
}

.new-price {
  font-weight: 600;
  color: #dd1919;
  font-weight: 600;
  font-size: 18px;
}

.news-block img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.news .date {
  font-size: 12px;
  color: #878787;
}

.news a {
  font-size: 14px;
  line-height: 17px;
  margin: 8px 0 0 0;
  color: #000;
}

.news a:hover, .sale-prod .card-text a:hover {
  text-decoration: underline!important;
  color: #252582;
}

.news {
  border-bottom: 1px solid #e5e5e5
}

/* =============================== */

.news h3 {
  font-weight: 600;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* ============================ PRODUCTS ================================ */

.search-bar form {
  border: 2px solid #252582;
  border-radius: 4px;
  overflow: hidden;
  -webkit-border-radius: 32px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding-right: 1.5%;
}

.search-bar input:focus {
  box-shadow: none;
}

.search-bar input::placeholder {
  color: #2525823a;
  font-style: italic;
}

.search-bar input {
  padding: 0px 2.5%;
  font-size: 20px;
  color: #252582;
  border: none;
  font-weight: 600;
}

.search-bar button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(128, 123, 123)
}

#carouselExampleIndicators {
  margin-bottom: 60px;
}

.carousel-control-next, .carousel-control-prev {
  background: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 35px;
  margin: auto;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li.active {
  background: #252582;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #ada8a8;
}

.carousel-caption {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 6px;
}

/* =============================================================== */

.prod-title {
  font-weight: 600;
  font-size: 26px;
  margin: 1% 0 5%;
}

.sale-prod .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.sale-prod .new-price {
  color: #252582;
}

.sale-prod {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.sale-prod .card-text {
  font-size: 14px;
}

.sale-prod .card-text a {
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 45px;
}

.art {
  font-size: 14px;
  color: #848484;
  margin: 10px 0 8px 0;
}

.quantity input:focus {
  box-shadow: none;
  outline: none;
  border: none
}

.quantity span.emp {
  position: absolute;
  display: inline-block;
  width: 15px;
  top: 0;
  right: 30px;
  height: 22px;
  background: #fff;
}

.quantity input {
  position: relative;
  width: 42px;
  height: 26px;
  border: none;
  padding-left: 10px;
  background: #fff;
}

.quantity span {
  color: #585858;
  cursor: pointer;
}

.quantity {
  padding: 0 10px;
  background: #ececec;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.prod-discount {
  font-size: 18px;
  background: #dd1919;
  font-family: CoreSansBold;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  font-weight: 600;
  left: 10px;
  z-index: 9;
}

.sale-prod .card {
  position: relative;
  margin-bottom: 30px;
}

.not-prod {
  margin-bottom: -16px;
}

.not-prod div {
  color: #dd1919;
}

.sale-prod.popular-prod .prod-discount {
  background: #ff9d10;
}

/* =========================== FEEDBACK ================================= */

.main-content {
  border-top: 3px solid #d3d3d3;
}

.feedback h2 a {
  font-weight: 600;
  font-size: 26px;
  color: #252582cb;
  line-height: 28px;
  padding: 15px 10% 0 0;
  text-decoration: underline;
}

.feedback h2 {
  position: relative;
}

.feedback h2 span {
  position: absolute;
  top: -25px;
  right: 33%;
  color: #fff;
  font-family: CoreSansBold;
  font-size: 20px;
  text-align: center;
  padding: 4% 5.3%;
  background: #252582;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.feedback h2 span::after {
  content: '';
  width: 0;
  height: 0;
  top: 42px;
  left: 10px;
  position: absolute;
  border-left: 7px solid #252582;
  border-bottom: 10px solid transparent;
}

.review-name {
  font-family: CoreSansLight;
  font-size: 14px;
  color: #252582;
}

.review-name span {
  color: #303030;
}

.review-text {
  font-family: CoreSansLight;
  font-size: 14px;
  color: #000;
}

.review-block {
  margin: 8% 0;
  ;
}

.add-review {
  font-weight: 600;
  font-size: 18px;
  padding: 3% 0;
  margin-top: 14%;
  width: 100%;
}

.main-articles-block1 {
  margin-bottom: 7%;
}

.hide_box_txt_about {
  margin-top: 10px;
}

.main-articles-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}

.main-articles-text {
  font-family: CoreSansLight;
  font-size: 14px;
  margin: 20px 0 0 0;
}

.hide_txt {
  display: none;
}

.see-more {
  color: #252582;
  text-decoration: underline;
  cursor: pointer;
}

.main-articles-text ul {
  margin-left: 20px;
}

/* =========================== FOOTER ================================= */

footer {
  padding-top: 2.4%;
  background: #252424fc;
  box-shadow: inset 0px 40px 16px -37px #696d71f2;
}

.foot-title, .foot-title a {
  font-weight: 600;
  font-size: 24px;
  font-weight: bold;
  color: #b3b3b3;
  margin: 0 0 15px 0;
}

.tomail {
  text-decoration: underline;
  color: #fff;
}

.tomail:hover {
  opacity: .7;
  color: #fff;
}

footer ul li {
  list-style-type: none;
  font-family: CoreSansLight;
  font-size: 14px;
  margin: 7px 0 7px 0;
}

footer ul li a {
  color: #252582;
  text-decoration: underline;
}

.foot-tel-text {
  font-family: CoreSansLight;
  font-size: 14px;
  color: #959595;
  margin: 15px 0 0 0;
  padding: 0 20px 0 0;
}

.foot-bottom {
  border-top: 1px solid #d6d6d6;
  padding: 35px 0 30px 0;
  font-family: Arial;
  margin-top: 20px;
}

.left-copy {
  color: #b3b3b3;
}

.right-copy p {
  font-size: 12px;
  color: #8a8a8a;
}

.right-copy p span {
  font-size: 14px;
  color: #b3b3b3;
}

.right-copy p span a:visited {
  color: #fff;
}

.toTop {
  position: fixed;
  width: 52px;
  height: 52px;
  right: 30px;
  bottom: 30px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 100;
  border-radius: 5px;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toTop span {
  font-size: 30px;
  margin-bottom: -10px;
  color: #fff;
}

.toTop p {
  margin-top: -7px;
  color: #fff;
}

/* =========================== MODAL ================================= */

.btn-call {
  position: fixed;
  bottom: 94px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #000000;
  color: #2f3c5f;
  opacity: 0.7;
  cursor: pointer;
  padding: 13px;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
  -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
  animation: zcwmini2 1.5s 0s ease-out infinite;
}

.btn-call span {
  color: #fff;
  font-size: 25px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

@keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0), 0 0 0 40px rgba(207, 8, 8, 0);
  }
}

@-o-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0), 0 0 0 40px rgba(207, 8, 8, 0);
  }
}

@-moz-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0), 0 0 0 40px rgba(207, 8, 8, 0);
  }
}

@-webkit-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0), 0 0 0 40px rgba(207, 8, 8, 0);
  }
}

@keyframes zcwmini {
  0% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px, 0 0 6px 5px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 20px rgba(0, 0, 0, 0), 0 0 0 20px rgba(207, 8, 8, 0);
  }
}

@-o-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px, 0 0 6px 5px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 20px rgba(0, 0, 0, 0), 0 0 0 20px rgba(207, 8, 8, 0);
  }
}

@-moz-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px, 0 0 6px 5px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 20px rgba(0, 0, 0, 0), 0 0 0 20px rgba(207, 8, 8, 0);
  }
}

@-webkit-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px, 0 0 6px 5px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(207, 8, 8, 0), 0 0 0 20px rgba(0, 0, 0, 0), 0 0 0 20px rgba(207, 8, 8, 0);
  }
}

.modal {
  transform: scale(0) rotate(360deg);
  transform-origin: 50% 50%;
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.modal-dialog {
  margin-top: 13%;
}

.show {
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
}

.modal-header {
  background: #272831;
}

.border-div {
  padding-bottom: 13px;
  border-bottom: 1px solid #ccc;
}

.modal .form-group a {
  color: #070707;
}

/* ========================== SINGLE PRODUCT ================================ */

.breadcrumb {
  background-color: #fff;
}

.breadcrumb a {
  color: #070707;
  text-transform: capitalize;
}

.breadcrumb li.active {
  color: #2828c7;
  font-style: italic;
  text-transform: capitalize;
}

.breadcrumb a:hover {
  color: #0707078e;
}

.badge-danger {
  padding: 5px 10px;
  font-size: 18px;
}

.prod-price>div {
  font-size: 20px;
  margin: 20px 0;
  color: #959595;
}

.prod-price p {
  font-size: 25px;
  margin-bottom: 0;
  color: #070707;
}

.prod-price>div:nth-of-type(2) p {
  color: #dd1919;
}

.table-borderless, #description {
  border: 1px solid #dee2e6;
  border-top: none
}

#description ul {
  list-style-type: none;
}

.product-single img {
  width: 100%;
}

.stars span{
  color:#9c9da0;
}
.stars span.active{
  color:#ff9d10!important;
}
/* =============================== CONTACT =============================== */

.contact {
  padding: 7% 0
}

.contact img {
  width: 25px;
  margin-right: 15px;
}

.list-group {
  padding: 7% 0 7% 4%;
}

.list-group-flush .list-group-item {
  padding: 5% 10px;
  border-bottom: 1px solid #d3d3d3;
}

/* =============================== SIGN IN =============================== */

.sign-in form {
  border: 1px solid #d3d3d3;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.sign-in a {
  color: #252582
}

.sign-in p {
  font-size: 18px;
}

.sign-in button {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 7px!important;
  letter-spacing: 2px;
}

.sign-in label {
  font-size: 18px;
  color: #070707;
}

.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #252582;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #252582;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

form small {
  color: #dd1919
}

/* =========================== ABOUT US ========================== */

.about img {
  width: 100%;
}

/* =========================== DEVILERY  ========================== */

.divel-accordion>div {
  border-bottom: 1px solid #d3d3d3;
}

.divel-accordion h2 {
  position: relative;
  padding: 10px;
  margin-bottom: 0;
  color: #252582
}

.divel-accordion h2 span {
  position: absolute;
  right: 10px;
  color: #252582;
  cursor: pointer;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.divel-accordion h2 span.active {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.divel-accordion p {
  font-size: 16px;
  display: none;
  padding: 0 10px;
}

/* ================================ SUB CATALOG =============================== */

.sub-cat-main h1{
  margin-bottom: 3%;
   font-weight: bold;
 font-size: 30px;
}
.sub-cat-main h1::first-letter{
 text-transform: capitalize;

}
.sub-cat-card:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;

}
.sub-cat-card {
  text-align: center;
  border: 1px solid #d3d3d3;
  padding: 5%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  height: 180px;
}

.sub-cat-card img {
  width: 30%;
}

.sub-cat-card a {
  color: #252582;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 16px;
}

.sub-cat-card p {
  margin-bottom: 0;
  margin-top: 10px;
}

/* ========================= PRODUCT LIST ========================= */

.filter-block {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
padding: 10px;
margin-bottom: 8%;
}
.filter-block ul{
  list-style-type: none;
  border-bottom: 1px solid #d3d3d3;
  max-height: 200px;
  overflow-y: auto;
}
.filter-block ul:last-of-type{
  border-bottom: none;

}
.filter-block label{
  font-size: 14px;
}
.filter-block h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.filter-block .checkmark {
  width: 15px;
  height: 15px;
}

.filter-block .checkbox{
  padding-left: 20px;
}
.filter-block  .checkbox input:checked~.checkmark {
  background: #252583;
}

.filter-block .checkbox .checkmark:after {
  left: 4px;
  top: 2px;
  width: 5px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* ===================================== */

.filter-block ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.filter-block ul::-webkit-scrollbar-thumb {
  background: #252582;
  border: 12px none #ffffff;
  border-radius: 50px;
}
.filter-block ul::-webkit-scrollbar-thumb:hover {
  background: #36369c;
}

.filter-block ul::-webkit-scrollbar-track {
  background: #e9e9e9;
  border: 14px none #ffffff;
  border-radius: 50px;
}
/* ===================================================== */
.select-block{
  border-bottom: 2px solid #d3d3d3;
}
.custom-select {
  position: relative;
  background: none;
  border:none;
  padding-left: 0;
  padding-right: 0;
}

.custom-select select {
  display: none;
}

.select-selected {
  width: 100%;
  border:1px solid #252582;
  color: #252582;
  padding: 8px 16px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div:hover, .same-as-selected {
  background: #252582;
  color: #fff!important;
}
.select-items div {
  color: #252582;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  top: 44px;
  left: 0px;
  right: 0;
  background: #fff;
  z-index: 99;
  width: 100%;
border:1px solid #252582;
border-top: none
}

.select-hide {
  display: none;
}

.pagination a{
  color: #252582
}
.page-link{
  border-color:#252582
}
.page-link:hover{
  background: #252583;
  color:#fff;
}